


/* Layout */

.bodywrapper {
    width: 80%;
    margin: 0 auto;
}

.row1wrapper {
    width: 100%;
    border-bottom: #999 solid 1px;
    padding: 20px 0;
    margin-bottom: 20px;
}

.row1col1 {
    width: 50%;
    float: left;
}

.row1col2 {
    width: 50%;
    float: right;
}


/* Styles */

.clearboth {
    clear: both;
}

h1, h2, h3, h4, p, a, li {
    font-family: "Courier New",Courier,monospace;
}

h1 {
    font-size: 26px;
}

h2 {
    font-size: 22px;
}

a {
    text-decoration: none;
    color: #999;
}

a:hover {
    text-decoration: underline;
}

p {
    font-size: 18px;
    line-height: 1.4em;
    color: #333;
}

.icons {
    float: right;
}

.icons li {
    display: inline-block;
    margin: 0 5px;
}

.icons li i {
    font-size: 20px;
    color: #999;
}

.icons li i:hover {
    color: #000;
}

nav ul{
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 18px;
}

ul.posts li {
    list-style: none;
}

.container {
    padding: 0 20px;
}

.container p.meta {
    font-size: 14px;
    color: #828282;
}

footer {
    border-top: 1px solid #999;
    font-size: .8em;
}

footer p {
    font-size: 16px;
}

footer p i {
    font-size: 16px;
    color: #333;
}
