<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to font-awesome-cdn -->
			<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<div class="bodywrapper">
				<div class="row1wrapper">
					<div class="row1col1">
						<nav>
				    		<ul>
				        		<li><a href="/">Home</a></li>
					        	<li><a href="/about">About</a></li>
				        		<li><a href="/blog">Blog</a></li>
				    		</ul>
						</nav>
					</div><!-- /row1col1 -->
					<div class="row1col2">
						<ul class="icons">
							<li><a href="https://github.com/karangovil"><i class="fab fa-github"></i></a></li>
							<li><a href="mailto:karangovil@gmail.com"><i class="far fa-envelope"></i></a></li>
							<li><a href="/feed.xml"><i class="fas fa-rss"></i></a></li>
						</ul>
					</div><!-- /row1col2 -->
					<div class="clearboth"></div>
				</div><!-- /row1wrapper -->
			
				<div class="container">
				
				{{ content }}
				
				</div><!-- /container -->
				<footer>
		        	<p><i class="far fa-copyright"></i> 2019 Karan Govil</p>
				</footer>
			</div><!-- /bodywrapper -->
		</body>
	</html>
